.container {
    display: flex;
    justify-content: space-between;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;

        .flex {
            display: flex;
        }

        .title {
            justify-content: flex-start;
            align-items: center;
            gap: 12px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 100%;
            }
        }

        .des {
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            padding-bottom: 30px;
        }

        .total {
            justify-content: space-between;
            margin-top: 30px;

            div {
                font-size: 24px;
            }
        }
    }
}
